/target
# vendored deps are materialized on demand via `vendir sync` (see vendir.yml)
/vendor
.gdbinit
.idea/
.vs/
.vscode/
.direnv/
result
*.pem
*.csr
extfile.conf

# flatpak files
.flatpak-builder
repo
